@use 'base/variables' as v;
@use 'base/mixins' as m; // Importamos mixins

.header{
    background-color: v.$verde;

    @include m.tablet {
        &.fijo{
            left: 0;
            top: 0;
            position: fixed;
            width: 100%;
            box-shadow: .3rem .3rem .3rem .3rem #6666 ;
        }
    }


    h1{
        color: v.$blanco;
        text-align: center;
        @include m.tablet {
            margin: 0;
        }
    }
    .contenido-header{
        padding: 2rem;
        @include m.tablet {
            display:flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.navegacion-principal{
    @include m.tablet {
        display:flex;
        gap: 2rem;
    }
    /* @include m.telefono{
        // Indicando @content; en el mediaquery podemos agregar código aqui
        text-transform: uppercase;
        font-weight: bold;
    } */
    a{
        display: block;
        text-align: center;
        margin-bottom: 1rem;
        color:v.$blanco ;
        font-size: 2.4rem;
        /* El simbolo & nos sirve para anidar psudo elementos a un selector */
        @include m.tablet {
            margin-bottom: 0;
        }
        &:hover{
            color:v.$amarillo;
        }

    }
}
//////////// Prueba de mixins ///////////
/* .prueba_mixins{
    // Para usar mixin usamos la palabra clave @include
    @include m.header(v.$amarillo,true);

    
} */
