@use 'base/variables' as v;
@use 'base/mixins' as m; // Importamos mixins

.header{
    background-color: v.$verde;

    h1{
        color: v.$blanco;
    }
}

.navegacion-principal{
    /* @include m.telefono{
        // Indicando @content; en el mediaquery podemos agregar código aqui
        text-transform: uppercase;
        font-weight: bold;
    } */
    a{
        color:v.$blanco ;
        font-size: 2.4rem;
        /* El simbolo & nos sirve para anidar psudo elementos a un selector */
        &:hover{
            color:v.$amarillo;
        }
    }
}
//////////// Prueba de mixins ///////////
/* .prueba_mixins{
    // Para usar mixin usamos la palabra clave @include
    @include m.header(v.$amarillo,true);

    
} */
